
body {
    
    background-color: darkorchid;
    background-size: cover;
}
button{
    background-color: transparent;
    align-items: center;
    text-align: center;
    background-size: cover;
    border-radius: 30%;
    margin: 10pt;
    background-color:darkmagenta ;
        height: 100;
    width: 1500;


}
#header{
    text-align: center;
}
